@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-white dark:bg-gray-900 transition-colors duration-300;
}

body {
  @apply text-gray-800 dark:text-gray-200;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f13e;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Add this to your CSS file or create a <style> element in your HTML */
.column-drag-ghost {
  opacity: 0.4;
  /* background-color: #f3f4f6; */
  /* border: 2px dashed #9ca3af;
  border-radius: 0.5rem; */
  transform: rotate(2deg);
}

.column-drop-preview {
  background-color: rgba(54, 65, 82, 0.1);
  border: 2px dashed #9ca3af;
  border-radius: 0.5rem;
}

.card-ghost {
  opacity: 0.6;
  background-color: #e5e7eb;
  transform: rotate(2deg);
}

.card-ghost-drop {
  transition: transform 0.18s ease-in-out;
}

.card-drop-preview {
  background-color: rgba(54, 65, 82, 0.1);
  border: 1px dashed #9ca3af;
  margin: 5px;
  border-radius: 0.5rem;
}